
.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.shared-style{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
     background-color: rgba(255, 144, 14, 0.1);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 50px;
}

.brand{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    list-style-type: none;
    margin-right: 30x;
    gap: 30px;
}
.nav-link a{
    text-decoration: none;
}
.nav-bar,.bannar{
    max-width: 1440px;
    margin: 0 auto;
}
.bannar-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.bannar-title{
    font-weight: 700;
    font-size: 4rem;

}
.bannar img{
     width: 100%;
}
.teams{
    align-items: center;
    gap: 98px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
main > section{
    margin-top: 130px;
}
.features-title{
    font-size: 3rem;
}
.our-features{
    max-width: 530px;
}
.part2{
    color: #FF900E;
    margin-bottom: 45px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    border: 1px solid #FF900E ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 8px;
}
.fact div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 
}
.number{
    font-size: 3.8rem;
    font-weight: 600;
    color: #424242;
   
}
.fact-name{
    font: 1.8rem;
    color: #424242;
}
.feature-description{
   max-width: 540px;
}

@media screen and (max-width:576px) {
   .nav-bar,.nav-link,.teams{
        flex-direction: column;
        text-align: center;
    }
    .team-img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 24px;
}
}
@media screen and (min-width:577px) and (max-width:992px) {
      .teams{
        flex-direction: column;
      }
}