*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px) 50px 50px;
     text-align: center;
     
}
.box{
    background-color: gray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:3rem ;
    font-weight: bolder;
}
#side-bar{
    grid-row: span 5;
}
#low-bar{
    grid-column: span 3;
}
.red{
    background-color: red;
}