*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,150px);
    border: 2px solid red;
    
}

img{
    width: 100%;
    height: 100%;
}
.big-layout{
    grid-column: span 6;
    grid-row: span 2;
}
.normal-layout{
    grid-column: span 2;
    grid-row: span 2;
}
.wide-layout{
    grid-column: span 2;
}