*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.calendar{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    width: 100vw;
    row-gap: 20px;
    column-gap: 10px;
}
.date{
    font-size: 30px;
    
    font-weight: 600;
    background-color: skyblue;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 70px;
    width:  70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.day{
    display: grid;
    font-size: 30px;
    font-weight: 600;
    background-color: green;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}