*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    /* border: 2px solid green; */

    
}
form h3{
    margin: 20px 0px 0px 0px;
    padding: 20px;
    
}
form input{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.form_items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}